 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 html,
 body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
 }

 section{
   scroll-margin: 70px;
 }
 .container{
    max-width: 1200px;
    
    margin: 0 auto;
 }
 ul{
    list-style: none;
 }
 a{
    text-decoration: none;
    color: white;
 }
 header{
    background-color: blue;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px;
 }
 nav{
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 20px 0;
 }
 nav ul{
    display: flex;
    gap: 20px;
    

 }
 .logo{
    font-size: 28px;
    font-weight: 600;
    
 }
 nav ul li{
   border-bottom: 2px solid transparent;
   transition: 0.2s ease-in;
 }
nav ul li:hover{
   border-bottom: 2px solid pink;
   transition: 0.2s ease-in;
}
.hero-section{
   background-image:url(img/pexels-cottonbro-studio-3944104.jpg);
   height: 100vh;
   display: grid;
   color: rgb(17, 15, 15);
   place-items: center;
   text-align: center;
}
.hero-section.container{
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.hero-section h1{
   font-size: 86px;

}
.hero-section h3{
   font-size: 34px;
}

.music-section{
   padding-top: 50px;
}

.music-section {
   background-image:url(img/pexels-amine-m\'siouri-2033896.jpg);
   height: 100vh;
   display: grid;
   color: rgb(17, 15, 15);
   place-items: center;
   text-align: center;
}
.ipad-iphone-img{
   position: relative;
   margin-top: 50px;
   
}
button{
   padding: 10px 15px;
   border: none;
   transition: 0.2s ease-in-out;
}
button:hover{
   opacity: 0.8;
   transition: 0.2s ease-in-out;
}
.primary-btn{
   background-color: red;
   color: white;
}
.secondary-btn{
   background-color: powderblue;
   color: black;
}

.about-music{
   background-image:url(img/pexels-vishnu-r-nair-1105666.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
   display: grid;
   color: rgb(17, 15, 15);
   place-items: center;
   text-align: center;
   /* padding-top: 50px; */
   display: grid;
   place-items: center;
   gap: 50px;
   text-align: center;
   /* margin-bottom: 50px; */
}

.video-section{
   background-image: url(img/zzz.jpg);
   background-repeat: no-repeat;
   background-size:contain;
   min-height: 600px;
   display: grid;
   place-items: center;
   color: rgb(236, 16, 16);
   text-align: center;

}
.video-section .container{
   display: flex;
   flex-direction: column;
   gap: 30px;
   margin-top: -100px;
}

.hero-section, .video-section, .music-section{
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}

.gift-section {
   display: flex;
   justify-content: center;
   margin: 100px 0;
   gap: 50px;
   margin-top: 200px;
}

.gift-content{
   display: flex;
   flex-direction: column;
   gap: 20px;
}


footer {
   background-color: #333;
   color: #fff;
   padding: 20px;
   text-align: center;
}

.column {
   width: 25%;
   display: inline-block;
   vertical-align: top;
   padding: 0 20px;
   box-sizing: border-box;
}

h2 {
   color: #ffcc00;
}

ul {
   list-style-type: none;
   padding: 0;
}

ul li {
   margin-bottom: 10px;
}

a {
   color: #fff;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}